<template>
                <el-table   
                  :data="tableData"
                  style="width: 100%"
                  height="400">

                  <el-table-column
                    v-for="header in data_headers"
                    :key="header.prop"
                    :prop="header.prop"
                    :label="header.label"
                    :algin="left">
                    _% header.label %_
                    
                    </el-table-column>
                  
                </el-table>
              </template>